html {
	/*-webkit-overflow-scrolling: touch;*/
	-webkit-text-size-adjust: none;
}

body {
	background-color: rgb(0, 0, 0);
/*	height: 100%; overflow: auto; margin: 0;
	-webkit-overflow-scrolling: touch;*/

}