body {
	background-color: rgb(0, 0, 0);
}

#foo {
	width: window.width;
	height: 200px;
	/*visibility: hidden;*/
	background-color: rgb(70, 70, 70);
}

#b1 {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	/*visibility: hidden;*/
	background-color: red;
	background-repeat:no-repeat;
    border: none;
	cursor:hand;
	overflow: hidden;
	outline: none;
	color: white;
}

#menuImg {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	cursor:hand;
}